@keyframes nav-wel {
  0% {
    transform: translateX(-15vh);
  }
}

@keyframes blocker {
  0% {
    transform: translateY(-15vh);
  }
}
@keyframes makingitlooknice {
  0% {
    transform: translateY(15vh);
  }
}@keyframes error {
  0% {
    background-color:red;
    color:white;
  }
  50%{
    background-color:white;
    color:red;
  }
  100%{
    background-color:red;
    color:white;
  }
}


/*apprently you cant have classes and ids together without messing up the script
for fucks sake this is a long ass file due to 50% of it being button styles
for every button in every goddam room*/

.navbar {
  background-color: #ffffff;
  position: fixed;
  width: 100vw;
  text-decoration: none;
  margin: auto;
  margin-top: 0vh;
  vertical-align: top;
  margin-left: 0vw;
  z-index: 1;
  animation-name: blocker;
  animation-duration: 501ms;
  animation-iteration-count: 1;
  align: center;
  height:9vh;
  text-align: center;
  border-bottom-style:solid;
  border-color:#092337;
  border-width:medium;
  /*border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px; */
}

li{
  animation-name: nav-wel;
  animation-duration: 250ms;
  animation-iteration-count: 1;
}

div {
  animation-name: makingitlooknice;
  animation-duration: 501ms;
  animation-iteration-count: 1;
  overflow:auto;
}
ol{
  font-size:12px;
}

.logo {
  height:8.5vh;
  width:auto;
}


.home {
  background-color: rgba(0, 0, 0, 0.81);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.home:hover {
  background-color: rgba(238, 238, 238, 0.81);
  color: black;
}

#logger {
  width: 100vw;
  height:20vh;
  background-color: #ffffff;
  border-color:#092337;
  border-top-style:solid;
  border-bottom-style:solid;
  border-width:3px;
  overflow:auto;
  display:block;
    margin-left:-1vw;
    padding-left:25px;
    padding-right:25px;
  position:relative;
}
#check {
  width: 100vw;
  height:20vh;
  background-color: #ffffff;
  border-color:#092337;
  border-top-style:solid;
  border-bottom-style:solid;
  border-width:3px;
  overflow:auto;
  display:block;
    margin-left:-1vw;
    padding-left:25px;
    padding-right:25px;
  position:relative;
  transform: translateY(+200%)
}
#room1 {
  height: 31.5vh;
  width: 20.5vw;
  background-color: #ffffff;
  border-color: #092337;
  /*  color: #f5f0f0; */
  border-radius: 50px;
  border-style: double;
  border-width: 15px;
  margin-top: 9vh;
  margin-left: 1.25vw;
  margin-bottom: 1vh;
  padding: 12px;
  font-size: 14.5px;
  float:left;
  position:relative;
}
#room2 {
  height: 31.5vh;
  width: 20.5vw;
  background-color: #ffffff;
  border-color: #092337;
  /*  color: #f5f0f0; */
  border-radius: 50px;
  border-style: double;
  border-width: 15px;
  margin-top: 9vh;
  margin-left: 14vw;
  margin-bottom: 1vh;
  padding: 12px;
  font-size: 14.5px;
  float:left;
  position:relative;
}
#room3 {
  height: 31.5vh;
  width: 20.5vw;
  background-color: #ffffff;
  border-color: #092337;
  /*  color: #f5f0f0; */
  border-radius: 50px;
  border-style: double;
  border-width: 15px;
  margin-top: 9vh;
  margin-left: 1.25vw;
  margin-bottom:1vh;
  padding: 12px;
  font-size: 14.5px;
  float:right;
  position:relative;
}
#room4 {
  height: 31.5vh;
  width: 20.5vw;
  background-color: #ffffff;
  border-color: #092337;
  /*  color: #f5f0f0; */
  border-radius: 50px;
  border-style: double;
  border-width: 15px;
  margin-top: 1vh;
  margin-left: 1.25vw;
  margin-bottom: 1vh;
  padding: 12px;
  position:relative;
  font-size: 14.5px;
  float:left;
}
#room5 {
  height: 31.5vh;
  width: 20.5vw;
  background-color: #ffffff;
  border-color:#092337;
  /*  color: #f5f0f0; */
  border-radius: 50px;
  border-style: double;
  border-width: 15px;
  margin-top: 1vh;
  margin-left: 14vw;
  margin-bottom: 1vh;
  padding: 12px;
  font-size: 14.5px;
  position:relative;
  float:left;
}
td{
  margin:auto;
  display: inline-block;
}
#room6 {
  height: 31.5vh;
  width: 20.5vw;
  background-color: #ffffff;
  border-color: #092337;
  /*  color: #f5f0f0; */
  border-radius: 50px;
  border-style: double;
  border-width: 15px;
  margin-top: 1vh;
  margin-left: 1.25vw;
  margin-bottom: 1vh;
  padding: 12px;
  font-size: 14.5px;
  position:relative;
  float:right;
}
#room7 {
  height: 32.5vh;
  width: 20.5vw;
  background-color: #ffffff;
  border-color: #092337;
  /*  color: #f5f0f0; */
  border-radius: 50px;
  border-style: double;
  border-width: 15px;
  margin-top: 9vh;
  margin-left: 1.25vw;
  margin-bottom: 1.5vw;
  padding: 12px;
  font-size: 14.5px;
  position:relative;
  float:left;
}
#room8 {
  height: 32.5vh;
  width: 20.5vw;
  background-color: #ffffff;
  border-color: #092337;
  /*  color: #f5f0f0; */
  border-radius: 50px;
  border-style: double;
  border-width: 15px;
  margin-top: 9vh;
  margin-left: 1.25vw;
  margin-bottom: 1.5vw;
  padding: 12px;
  font-size: 14.5px;
  position:relative;
  float:left;
}
h2 {
  text-align:center;
}
img {
  margin:auto;
  display: block;
  width:14vw;
  height:10.5vh;
  align:center;
  margin:auto;
  position:relative;
}


#alert {
  background-color: red;
  border-radius: 10px;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  animation-name: blocker;
  animation-duration: 551ms;
  animation-iteration-count: 1;
  font-size: 16px;
  animation-name: error;
  animation-duration: 750ms;
  animation-iteration-count: infinite;
}
h1 {
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
}
th{
  font-size:35px;
}
span {
color:#092337;
}

body {
  background-color: #1B1B1B;
  font-family: 'Varela Round', sans-serif;
  background-image: url("vintage.jpg");
  background-size: auto;
}
p {
  font-size: 15px;
}

.name {
  text-align: center;
  font-size: 28px;
}

h4 {
  text-height: 10px;
  text-align: center;
  overflow: auto;
}
h3 {
  text-height: 10px;
  text-align: center;
  overflow: auto;

}
button {
  background-color:#092337;
  color:white;
  font-family: 'Varela Round', sans-serif;
}
button:hover {
  background-color:white;
  color:#1B1B1B;
  font-family: 'Varela Round', sans-serif;
}

input {
  background-color:#1B1B1B;
  font-family: 'Varela Round', sans-serif;
  color:white;
  text-align:center;
}
select {
  background-color:#092337;
  font-family: 'Varela Round', sans-serif;
  color:white;
  text-align:center;
}

input:focus {
  background-color:white;
  color:#1B1B1B;
}
/* food items below*/
ul {
  list-style-type: none;
  padding: 0;
  margin:0;
  align: center;
}
